<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>

<ion-content style="--background:linear-gradient(0deg, rgba(34,193,195,1) 70%, rgba(255,255,255,1) 85%);">
    <ion-content style="height:29%; --background:transparent;--ion-color-base: transparent !important; width: 100%;">
      <ion-img src="../assets/img/VeroLogoBcDent.png" style="width:40%;" class="center"></ion-img>
      <ion-label color="primary" style="font-size: 30px; font-weight: bold;" class="center"> Chi Siamo </ion-label>
    </ion-content>
    <ion-content color=rgba(34,193,195,1) style="height:71%">
      
      <br><br>
      
      <div> <img src ="../assets/img/gruppo.jpg" style="width:70%;" class="center"></div>
      <p>
        Lo Studio specialistico di odontoiatria e stomatologia BC Dent, fondato a Napoli nel 1928 dal dottor Antonio Aglia, vede al giorno d&rsquo;oggi la quarta e quinta generazione di dentisti BcDent all'opera. 
        Lungo gli ottantadue anni di attivit&agrave;, lo Studio specialistico di odontoiatria BcDent &egrave; stato sempre simbolo di una tradizione di grandissima affidabilit&agrave; e di una continua ricerca delle tecniche e delle attrezzature all'avanguardia, acquisita attraverso aggiornamenti continui a livello nazionale e internazionale.
      </p>
  </ion-content>
</ion-content>
