<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>


<ion-content style="--background:linear-gradient(0deg, rgba(34,193,195,1) 70%, rgba(255,255,255,1) 85%);">
  <ion-img src='../assets/img/VeroLogoBcDent.png' class="center" style="width:50%;"></ion-img>
  <br><br>
  <form [formGroup]="authForm" (ngSubmit)="Search(authForm.value)">
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">Email: </ion-label>
      <ion-input style="text-align: left;" type="email" id="email" placeholder="username" [formControl]="authForm.controls['email']" formControlName="email"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">Password: </ion-label>
      <ion-input style="text-align: left;" type="password" id="password" placeholder="password" [formControl]="authForm.controls['password']" formControlName="password"></ion-input>
    </ion-item>
    <br>
    <br>
    <div class="ion-padding" style="display: block; margin-left: auto; margin-right: auto;width: 100px; padding-left:0%;">
      <ion-button expand="block" type="submit" style="width:100px; padding:0%;">Login</ion-button>
    </div>
    <h6 style="text-align: center">Se non sei registrato clicca 
      <a href="/registrazione">
        qui
      </a>
    </h6>
  </form>

</ion-content>
