<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-content [hidden]="utente=='null'" style="--background:linear-gradient(0deg, rgba(34,193,195,1) 70%, rgba(255,255,255,1) 85%);">
  <ion-img src='../assets/img/VeroLogoBcDent.png' class="center" style="width:50%;"></ion-img>
  <br>
  <form [formGroup]="RegForm" (ngSubmit)="effettuaPrenotazione(RegForm.value)">
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">Data: </ion-label>
      <ion-input style="text-align: left;" type="date" id="data" placeholder="data" [formControl]="RegForm.controls['data']" formControlName="data"></ion-input>
    </ion-item>
    <br>
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">OrarioScelta: </ion-label>
      <ion-input style="text-align: left;" type="time" id="OrarioScelta" placeholder="Ora" [formControl]="RegForm.controls['OrarioScelta']" formControlName="OrarioScelta"></ion-input>
    </ion-item>
    <br>
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">Tipo Problema: </ion-label>
      <ion-input style="text-align: left;" type="text" id="tipoProblema" placeholder="tipoProblema" [formControl]="RegForm.controls['tipoProblema']" formControlName="tipoProblema"></ion-input>
    </ion-item>
    <br>
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">Note: </ion-label>
      <ion-input style="text-align: left;" type="text" id="note" placeholder="note" [formControl]="RegForm.controls['note']" formControlName="note"></ion-input>
    </ion-item>
    <br>
    <ion-item style="width:95%;" class="center">
      <ion-label color="primary">email: </ion-label>
      <ion-input style="text-align: left;" type="email" id="email" placeholder="email" [formControl]="RegForm.controls['email']" formControlName="email"></ion-input>
    </ion-item>
    <br>
    <div class="ion-padding" style="display: block; margin-left: auto; margin-right: auto;width: 100px; padding-left:0%; margin-top: -2%;">
      <ion-button expand="block" type="submit" style="width:100px; padding:0%;">Prenota</ion-button>
    </div>
  </form>
</ion-content>
<ion-content [hidden]="!(utente=='null')" style="--background:linear-gradient(0deg, rgba(34,193,195,1) 70%, rgba(255,255,255,1) 85%);">
    <ion-img src='../assets/img/VeroLogoBcDent.png' class="center" style="width:40%;margin-top:0%;"></ion-img>
    <br>
    <br>
    <ion-card>
        <ion-card-header>
            <ion-card-title>CIAO CLIENTE!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Gentile cliente ti informiamo che per accedere ai restanti servizi della nostra app, come ad esempio comode prenotazioni effettuate direttamente da smartphone o la visualizzazione delle statistiche e dei dati dei nostri dentisti
            bisogna autenticarsi. Se non sei un cliente abituale ma un nuovo cliente ti invitiamo ad effettuare la registrazione.
        </ion-card-content>
    </ion-card>
    <ion-button style="float:right;padding-right:2em" (click)="login()">
        EFFETTUA LOGIN
        <ion-icon name="log-in"></ion-icon>

    </ion-button>
</ion-content>
